<div>
  <form action="/showmemo/<%= @id %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <div>
      <input type="text" name="title" value="<%= @title %>">
    </div>
    <div>
      <textarea name="content" rows="5"><%= @content %></textarea>
    </div>
    <div>
      <input type="submit" value="変更">
    </div>
  </form>
</body>
