<div>
  <form action="/showmemo/<%= @memo[0] %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <div>
      <input type="text" name="title" value="<%= @memo[1] %>">
    </div>
    <div>
      <textarea name="content" rows="5"><%= @memo[2] %></textarea>
    </div>
    <div>
      <input type="submit" value="変更">
    </div>
  </form>
</body>
