<div>
  <h1>メモアプリ</h1>
  <input type="button" onclick="location.href='./newmemo'" value="追加">
  <ul>
    <% @all_memos.each do |id, value| %>
      <li>
        <a href='./showmemo/<%= id %>'>
          <%= CGI.escapeHTML(value["title"]) %>

        </a>
      </li>
    <% end %>
  </ul>
</div>
