<div>
  <input type="button" onclick="location.href='./newmemo'" value="追加">
  <ul>
    <% @memos.each do |memo| %>
      <li>
        <a href='./showmemo/<%= memo["id"] %>'>
          <%= CGI.escapeHTML(memo["title"]) %>

        </a>
      </li>
    <% end %>
  </ul>
</div>
