<div>
  <form action="/" method="POST">
    <div>
      <input type="text" name="title">
    </div>
    <div>
      <textarea name="content" rows="5"></textarea>
    </div>
    <div>
      <input type="submit" value="保存">
    </div>
  </form>
</div>
